
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Try accessing something authorized like Claims</h2>
@Html.ActionLink("SignIn", "Claims", "Home", null, new { @class = "btn btn-success" })

